/* CSS PARA TODAS AS PAGINAS */
/* HEADER */
body {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
/*Header*/
header{
  width: 100%;
  background-color: rgb(245, 221, 11);
  margin-bottom: 30px;
  padding-top: 5px;
}

.header-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 1900px;
  height: 12vh;

  margin: 0 auto;
}

.menu ul{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.menu ul li {
  margin: 0 10px;
  padding: 10px;
  color:rgb(245, 221, 11);
  list-style-type: none;
}

.menu ul li a {
  color: #111;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  transition: 600ms;
}

.menu ul li a:hover {
  color: white;
  padding: 20px 50px;
  background-color: black;
  border-radius: 50px;
  transition: 600ms;
}

/*Redes Sociais*/
.redes-socias ul{
  padding: 0;
}

.redes-socias ul li{
  margin: 15px;
  display: inline-block;
  list-style: none;
}
/* PAGINA INICIAL */
.gramado {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  background-image: url("/img/campo.png");
  min-height: 900px;
  position: absolute;
}

#icon1 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 20%;
  left: 47%;
  cursor: pointer;
}

#icon2 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 21%;
  right: 32%;
  cursor: pointer;
}

#icon3 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 21%;
  right: 62%;
  cursor: pointer;
}

#icon4 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 48%;
  right: 55%;
  cursor: pointer;
}

#icon5 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 48%;
  right: 35%;
  cursor: pointer;
}

#icon6 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 65%;
  right: 47%;
  cursor: pointer;
}

#icon7 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 80%;
  right: 30%;
  cursor: pointer;
}

#icon8 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 80%;
  right: 61%;
  cursor: pointer;
}

#icon9 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 90%;
  right: 52%;
  cursor: pointer;
}

#icon10 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 90%;
  right: 38%;
  cursor: pointer;
}

#icon11 {
  position: absolute;
  display: flex;
  height: 9%;
  width: 5%;
  top: 105%;
  right: 890px;
  cursor: pointer;
}
/* Estatisticas Jogadores*/
.pivo {
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 34em;
  animation: animate;
  animation-duration: 500ms;
}

h3{
  border: 0;
  margin: 0 auto;
}

p{
  margin: 0 auto;
}

.foto{
  padding: 5%;
  border-radius: 50%;
  max-width: 40%;
  max-height: 40%;
}

.pontaD{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 23em;
  animation: animate;
  animation-duration: 500ms;
}

.pontaE{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 45em;
  animation: animate;
  animation-duration: 500ms;
}

.meiaE{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 41em;
  top: 15em;
  animation: animate;
  animation-duration: 500ms;
}

.meiaD{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 25em;
  top: 15em;
  animation: animate;
  animation-duration: 500ms;
}

.volante{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 35em;
  top: 23em;
  animation: animate;
  animation-duration: 500ms;
}

.lateralD{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 20em;
  top: 28em;
  animation: animate;
  animation-duration: 500ms;
}

.lateralE{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 49em;
  top: 28em;
  animation: animate;
  animation-duration: 500ms;
}

.zagueiroE{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 38em;
  top: 30em;
  animation: animate;
  animation-duration: 500ms;
}

.zagueiroD{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 28em;
  top: 30em;
  animation: animate;
  animation-duration: 500ms;
}

.goleiro{
  display: none;
  height: 10em;
  width: 10em;
  border-radius: 2em;
  background: rgb(2,0,36);
  background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(207,236,0,1) 49%, rgba(0,0,0,0) 100%);
  text-align: center;
  font-size: x-large;
  position: absolute;
  right: 35em;
  top: 37em;
  animation: animate;
  animation-duration: 500ms;
}

span{
 width: 30px;
 height: 30px;
 background: rgb(2,0,36);
 background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 0%, rgba(0,0,0,0) 0%, rgba(207,236,0,0) 0%);
 border-radius: 40%;
 float: right;
 cursor: pointer;
 position: relative;
 top: -230px;
 right: 10px;
}

span:hover{
  background-color: white;
}

@keyframes animate{
  from{opacity: 1;}
  from{opacity: 0;}
}

.logodireita{
float: right;
}

.logoesquerda{
  float: left;
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
}

.texto{ 
  font-family: arial;
  color: aliceblue;
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
}

